src/usersettings.xml
Tests/8bitDataset/Analysis/*
Tests/16bitDataset/Analysis/*
.DS_Store
*.m~


pool_clipro.xml
epitool_metadata.xml
src/tmp/pool_Untitled_cmp_20150116T135544.xml
src/tmp/pool_Untitled_cmp_20150116T135646.xml
src/tmp/pool_Untitled_cmp_20150116T135745.xml
src/tmp/pool_Untitled_cmp_20150121T103128.xml
src/tmp/pool_Untitled_default.xml
test_set.xml
